body {
        font-family: sans-serif;
        font-size: 90%;
        margin: 0;
        line-height: 125%;
}

body.open-modal {
        overflow: hidden;
}

#wrapper {
        height: 100vh;
}

.editor {
        width: 4000px;
        height: 4500px;
        background-color: hsl(0, 0%, 20%);
}
