.edit-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, 0.8);
}

.edit-panel-content {
        background-color: white;
        margin: auto;
        width: 600px;
        height: 90%;
        overflow-y: auto;
}
