.compose textarea {
        border: none;
        background-color: inherit;
        color: inherit;
        width: 100%;
        font-size: inherit;
        padding: 0;
        min-height: 25em;
        line-height: inherit;
}

.compose textarea:focus {
        outline: none;
}
