.footer {
        background-color: var(--main-bg-colour);
        flex-shrink: 0;
}

.footer-infobar-content {
        display: flex;
        width: 100%;
}

.footer-infobar-time {
        display: inline-block;
        margin-left: auto;
}
