.infobar {
        background-color: var(--infobar-bg-colour);
        color: var(--infobar-font-colour);
        font-weight: bold;
        padding: 0 0.25rem;
}

.infobar ul {
        padding: 0;
        margin: 0;
}

.infobar ul li {
        display: inline-block;
        text-decoration: none;
        padding-right: 1rem;
}

.infobar-major {
        padding-right: 4em;
        display: inline-block;
}

.infobar-major span:not(:last-child) {
        padding-right: 2em;
}

.infobar-content {
        display: inline;
}

.infobar-time {
        display: inline;
        text-align: right;
}
