.selectable-rows {
        width: 100%;
}

.selectable-rows td {
        padding: 0 0.25rem;
}

.selectable-rows-highlighted {
        color: var(--unread-font-colour);
}

.selectable-rows-selected {
        background-color: var(--selected-row-bg-colour);
        color: var(--main-bg-colour);
}
