.message-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, 0.8);
}

.message-panel-content {
        background-color: #333;
        margin: auto;
        width: 600px;
        height: 90%;
        overflow-y: auto;
        text-transform: uppercase;
        font-size: 0.8rem;
}

.edit-message {
        color: hsl(0, 0%, 80%);
}

.edit-message-header {
        text-align: right;
}

.edit-message input, .edit-message textarea {
        width: 100%;
        box-sizing: border-box;
}

.edit-message input.invalid, .edit-message textarea.invalid {
        border: 2px solid red;
        background-color: #ffdddd;
}

.edit-message input[type=checkbox] {
        width: auto;
}

.edit-message textarea {
        height: 20rem;
}

.edit-message-group {
        border-top: 1px solid #444;
}

.edit-message-group-title {
        padding: 1rem;
}

.edit-message-group-content {
        margin: 1rem;
}

.edit-message-subgroup, .edit-message .multiple-child {
        margin-bottom: 1rem;
        overflow: auto;
}

.edit-message .label {
        display: table;
        width: 100%;
}

.edit-message .label-name, .edit-message .label-value {
        display: table-cell;
}

.edit-message .label-name {
        min-width: 100px;
}

.edit-message .label-value {
        width: 100%;
        vertical-align: middle;
}

.edit-message .message-delay .label-value {
        display: table;
}

.edit-message .message-delay-name,
.edit-message .message-delay-condition,
.edit-message .message-delay-day,
.edit-message .message-delay-hour,
.edit-message .message-delay-min {
        display: table-cell;
}

.edit-message .message-delay-day,
.edit-message .message-delay-hour,
.edit-message .message-delay-min {
        width: 10%;
}

.edit-message .button-remove {
        float: right;
}

.edit-message-name {
        display: flex;
}

.edit-message-name button {
        margin-left: auto;
}

.edit-message-name input {
        color: white;
        background: none;
        border: none;
        font-size: 2rem;
        width: 450px;
}
