.edit-area {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: hsl(211, 76%, 55%);
        background-image: url('../assets/blueprint.jpg');
}

.surface {
        position: absolute;
        width: 100%;
        height: 100%;
}

.surface-dragzone {
        width: 100%;
        height: 100%;
}

.surface-svg {
        position: absolute;
        width: 100%;
        height: 100%;
}
