.arrow-fallback, .arrow-child, .arrow-reply-option {
        stroke-width: 4px;
        stroke: hsl(240, 5%, 90%);
        fill: hsl(240, 5%, 90%);
}

.arrow-child .line {
        stroke-dasharray: 30,5;
}

.arrow-reply-option .line {
        stroke-dasharray: 10,5;
}
