.statusbar-empty {
        font-weight: bold;
        color: var(--main-bg-colour);
}

.statusbar-ongoing::after {
        content: "...";
}

.statusbar input {
        border: none;
        background-color: inherit;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        width: 50em;
        padding: 0;
}

.statusbar input:focus {
        outline: none;
}
